.next
node_modules
/dist
/Documents
/tmp
/db/data
/data
/secrets
/.env.e2e
/.env.serve
/.env.storybook
/.env.test
/.env.run
.env.local
.env.local-*
/http

__pycache__
venv
.git
/packages/components/src/lib/_dynamic
