# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# Other
/Documents
/.env.cdk
/.env.e2e
/.env.serve
/.env.storybook
/.env.test
/.env.run
.env.local
.env.local-*
/http/.env
cdk.out
/output-cache

# Next.js
.next


/.nx


/tmp-*
/data
/secrets
/http/*.local.http
tmp-secrets.ts

# python
__pycache__
venv

/local-config
/packages/components/src/lib/_dynamic
.pkij-injected-packages.json
/remote
!/remote-template/**

# Injected
/packages/any-comp
/packages/any-comp-cli
/packages/at-dot-css
/packages/iyio-common
/packages/media-common
/packages/nextjs-common
/packages/node-common
/packages/protogen
/packages/protogen-runtime
/packages/react-common
/packages/rtxt
/packages/svg-charts
/packages/svg-charts-react
/packages/syn-taxi
/packages/vfs
/packages/vfs-node
/packages/vfs-react
/packages/pdf-viewer
/packages/iyio-common-py
/packages/mdx-ui-builder
/packages/mdx-ui-builder-react
/packages/tmpl-gen
/packages/convo-lang
/packages/convo-lang-cli
/packages/convo-lang-react
/packages/convo-lang-openai
/packages/convo-lang-api-routes
/packages/convo-vfs
/packages/convo-api-py
/packages/convo-transcriber-py
